<!-- <div class="row">
  <div class="col-sm-3" *ngFor="let item of lessons">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">{{item.title}}</h5>
      </div>
      <div class="card-body">
        <p class="card-text">Subject: {{item.subject.name}}
          <br>
          Series: {{item.series?.name}}
          <br>
          Specialty: {{item.specialty.name}}
          <br>
          Teacher: {{item.teacher?.user?.firstName}} {{item.teacher?.user?.lastName}}
          <br>
          Level: {{item.level}}
          <br>
          Duretion: {{item.durationHour}}
          <br>
        </p>
        <a href="#" class="btn btn-primary">Choose</a>
      </div>
    </div>
  </div>
</div> -->
<div class="container">
  <div class="row">
    <div class="col-lg-3 filter-area">
      <div class="card border-0 radius-10 box-shadow-5">
        <div id="collapseFilter" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body p-0">
            <div class="filter_type px-4 pt-4">
              <h5 class="fw-700 mb-4">Categories</h5>
              <ul>
                <li class="">
                  <div class="text-15px fw-700 d-flex">
                    <input type="radio" id="category_all" name="sub_category" class="categories custom-radio"
                      value="all" onclick="filter(this)" checked="">
                    <label for="category_all">All category</label>
                    <div class="ms-auto">({{this.subjectsList.length}})</div>
                  </div>
                </li>
                <ng-container *ngFor="let item of this.subjectsList">
                  <li class="mt-3">
                    <div class="text-15px fw-700  d-flex">
                      <input type="radio" id="category-10" name="sub_category" class="categories custom-radio"
                        value="web-design" onclick="filter(this)">
                      <label for="category-10">{{item.name}}</label>
                      <div class="ms-auto">(4)</div>
                    </div>
                  </li>
                  <ng-container *ngFor="let sp of item.specialties">
                    <li class="ms-3">
                      <div class=" d-flex">
                        <input type="radio" id="sub_category-11" name="sub_category" class="categories custom-radio"
                          value="responsive-design" onclick="filter(this)">
                        <label for="sub_category-11">{{sp.name}}</label>
                        <div class="ms-auto">(0)</div>
                      </div>
                    </li>
                  </ng-container>
                </ng-container>
              </ul>
            </div>
            <hr>
            <div class="filter_type px-4">
              <h5 class="fw-700 mb-3">Level</h5>
              <ul>
                <li>
                  <div class="">
                    <input type="radio" id="all" name="level" class="level custom-radio" value="all"
                      onclick="filter(this)" checked="">
                    <label for="all">All</label>
                  </div>
                  <div class="">
                    <input type="radio" id="beginner" name="level" class="level custom-radio" value="beginner"
                      onclick="filter(this)">
                    <label for="beginner">Beginner</label>
                  </div>
                  <div class="">
                    <input type="radio" id="advanced" name="level" class="level custom-radio" value="advanced"
                      onclick="filter(this)">
                    <label for="advanced">Advanced</label>
                  </div>
                  <div class="">
                    <input type="radio" id="intermediate" name="level" class="level custom-radio" value="intermediate"
                      onclick="filter(this)">
                    <label for="intermediate">Intermediate</label>
                  </div>
                </li>
              </ul>
            </div>
            <hr>
            <div class="filter_type px-4">
              <h5 class="fw-700 mb-3">Ratings</h5>
              <ul>
                <li>
                  <div class="">
                    <input type="radio" id="all_rating" name="rating" class="ratings custom-radio" value="all"
                      onclick="filter(this)" checked="">
                    <label for="all_rating">All</label>
                  </div>
                </li>
                <li>
                  <div class="">
                    <input type="radio" id="rating_1" name="rating" class="ratings custom-radio" value="1"
                      onclick="filter(this)">
                    <label for="rating_1">
                      <i class="fas fa-star" style="color: #f4c150;"></i>
                      <i class="far fa-star" style="color: #dedfe0;"></i>
                      <i class="far fa-star" style="color: #dedfe0;"></i>
                      <i class="far fa-star" style="color: #dedfe0;"></i>
                      <i class="far fa-star" style="color: #dedfe0;"></i>
                    </label>
                  </div>
                </li>
                <li>
                  <div class="">
                    <input type="radio" id="rating_2" name="rating" class="ratings custom-radio" value="2"
                      onclick="filter(this)">
                    <label for="rating_2">
                      <i class="fas fa-star" style="color: #f4c150;"></i>
                      <i class="fas fa-star" style="color: #f4c150;"></i>
                      <i class="far fa-star" style="color: #dedfe0;"></i>
                      <i class="far fa-star" style="color: #dedfe0;"></i>
                      <i class="far fa-star" style="color: #dedfe0;"></i>
                    </label>
                  </div>
                </li>
                <li>
                  <div class="">
                    <input type="radio" id="rating_3" name="rating" class="ratings custom-radio" value="3"
                      onclick="filter(this)">
                    <label for="rating_3">
                      <i class="fas fa-star" style="color: #f4c150;"></i>
                      <i class="fas fa-star" style="color: #f4c150;"></i>
                      <i class="fas fa-star" style="color: #f4c150;"></i>
                      <i class="far fa-star" style="color: #dedfe0;"></i>
                      <i class="far fa-star" style="color: #dedfe0;"></i>
                    </label>
                  </div>
                </li>
                <li>
                  <div class="">
                    <input type="radio" id="rating_4" name="rating" class="ratings custom-radio" value="4"
                      onclick="filter(this)">
                    <label for="rating_4">
                      <i class="fas fa-star" style="color: #f4c150;"></i>
                      <i class="fas fa-star" style="color: #f4c150;"></i>
                      <i class="fas fa-star" style="color: #f4c150;"></i>
                      <i class="fas fa-star" style="color: #f4c150;"></i>
                      <i class="far fa-star" style="color: #dedfe0;"></i>
                    </label>
                  </div>
                </li>
                <li>
                  <div class="">
                    <input type="radio" id="rating_5" name="rating" class="ratings custom-radio" value="5"
                      onclick="filter(this)">
                    <label for="rating_5">
                      <i class="fas fa-star" style="color: #f4c150;"></i>
                      <i class="fas fa-star" style="color: #f4c150;"></i>
                      <i class="fas fa-star" style="color: #f4c150;"></i>
                      <i class="fas fa-star" style="color: #f4c150;"></i>
                      <i class="fas fa-star" style="color: #f4c150;"></i>
                    </label>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="row category-filter-box mx-0 box-shadow-4">
        <div class="col-md-6">
        </div>
        <div class="col-md-6 text-end filter-sort-by">
          <span>Sort by : </span>
          <div class="dropdown d-inline-block">

            <!-- hidden field of sorting value -->
            <input id="sortByValue" type="hidden" name="sort_by" value="newest">

            <button class="btn bg-background dropdown-toggle fw-bold text-capitalize" type="button"
              id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" (click)="openMenu=!openMenu">
              {{chooseMenu}} </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1" [ngClass]="{
                'show': openMenu
              }" data-popper-placement="bottom-end"
              style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(-86px, 32px);">
              <li><a (click)="chooseMenu='Newest';openMenu=!openMenu"
                  class="dropdown-item text-12px fw-600 text-capitalize" href="javascript:;">Newest</a></li>
              <li><a (click)="chooseMenu='Highest rating';openMenu=!openMenu"
                  class="dropdown-item text-12px fw-600 text-capitalize" href="javascript:;">Highest rating</a></li>
              <li><a (click)="chooseMenu='Lowest price';openMenu=!openMenu"
                  class="dropdown-item text-12px fw-600 text-capitalize" href="javascript:;">Lowest price</a></li>
              <li><a (click)="chooseMenu='Highest price';openMenu=!openMenu"
                  class="dropdown-item text-12px fw-600 text-capitalize" href="javascript:;">Highest price</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="category-course-list">
        <div class="row">
          <div class="col-md-6 col-xl-4 px-0" *ngFor="let lesson of lessons">
            <div class="course-box-wrap">
              <a href="javascript:;" class="has-popover">
                <div class="course-box">
                  <div class="course-image">
                    <p class="price text-right d-inline-block float-end"><small></small>${{lesson.price}}</p>
<!--
                    <img
                      src="https://demo.creativeitem.com/academy/uploads/thumbnails/course_thumbnails/optimized/course_thumbnail_default_211562457600.jpg"
                      alt="" class="img-fluid"> -->
                  </div>
                  <div class="course-details">
                    <div class="row mb-3">
                      <div class="col-12">
                        <span class="badge badge-primary text-11px">{{lesson.level}}</span>
                      </div>
                    </div>
                    <h5 class="title">{{lesson.title}}</h5>
                    <div class="rating">
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <div class="d-inline-block">
                        <span class="text-dark ms-1 text-12px">(1)</span>
                        <span class="text-dark text-12px text-muted ms-2">(5 Reviews)</span>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col">
                        <div class="floating-user d-inline-block">
                          <p class="text-14px text-primary">
                            {{lesson.teacher?.user?.firstName}} {{lesson.teacher?.user?.lastName}}
                          </p>
                          <!-- <img
                            src="https://demo.creativeitem.com/academy/uploads/user_image/optimized/c5e5de4316c794f425a65eecfe1b1240.jpg"
                            width="30px" data-bs-toggle="tooltip" data-bs-placement="top" title=""
                            onclick="event.stopPropagation(); $(location).attr('href', 'https://demo.creativeitem.com/academy/home/instructor_page/1');"
                            data-bs-original-title="John Doe" aria-label="John Doe"> -->
                        </div>
                      </div>
                    </div>

                    <div class="w-100 d-flex text-dark border-top py-1">
                      <div class="">
                        <i class="text-danger far fa-clock text-14px"></i>
                        <span class="text-muted text-12px" style="margin-left: 4px;">{{lesson.durationHour}}
                          Hours</span>
                      </div>
                      <!-- <div class="ms-auto">
                        <i class="text-primary far fa-list-alt text-14px"></i>
                        <span class="text-muted text-12px">10 Lectures</span>
                      </div> -->
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
