<div class="content-page">
  <div class="content">
    <div class="row">
      <div class="col-xl-12">
        <div class="card">
          <div class="card-body py-2">
            <h4 class="page-title"> <svg cIcon name="cil-applications" title="cil-applications" size="3lg"></svg>Holiday
            </h4>
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="holiday">
      <div class=" col-xl-6">
        <div class="card">
          <div class="card-body">
            <h4 class="mb-3 header-title">Holiday</h4>
            <form class="required-form">
              <div id="schedule">
                <div class="row">
                  <div class="col-md-12">
                    <div class="card">
                      <div class="card-body">
                        <div class="col-lg-12">
                          <div class="form-group">
                            <label for="topic">
                              Title <span class="required">*</span>
                            </label>
                            <input type="text" name="title" id="title" class="form-control" placeholder="title"
                              [(ngModel)]="holiday.title" required>
                          </div>

                          <div class="form-group">
                            <label for="topic">
                              From Date <span class="required">*</span>
                            </label>

                            <p-calendar [(ngModel)]="holiday.date" [showIcon]="true" [showTime]="true"
                              dateFormat="dd/mm/yy" name="date" id="date" placeholder="From Date"></p-calendar>
                            <!-- <input type="datetime" name="date" id="date" class="form-control" placeholder="From Date"
                              required [(ngModel)]="holiday.date"> -->
                          </div>



                          <div class="form-group">
                            <label for="topic">
                              To Date <span class="required">*</span>
                            </label>

                            <p-calendar [(ngModel)]="holiday.toDate" [showIcon]="true" [showTime]="true" name="toDate"
                              dateFormat="dd/mm/yy" id="toDate" placeholder="To Date"></p-calendar>
                            <!-- <input type="datetime" name="toDate" id="toDate" placeholder="To Date"
                              [(ngModel)]="holiday.toDate" class="form-control" required> -->
                          </div>


                          <c-form-check sizing="lg" switch>
                            <input cFormCheckInput type="checkbox" name="allDay" id="allDay"
                              [(ngModel)]="holiday.allDay" />
                            <label cFormCheckLabel>All Date</label>
                          </c-form-check>

                          <c-form-check sizing="lg" switch>
                            <input cFormCheckInput type="checkbox" name="isActive" id="isActive"
                              [(ngModel)]="holiday.isActive" />
                            <label cFormCheckLabel>Is Active</label>
                          </c-form-check>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button type="submit" (click)="submit()" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Save Holiday</button>
            </form>
          </div> <!-- end card body-->
        </div> <!-- end card -->
      </div>
    </div>
  </div>
</div>
