<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()">
        Previous
      </div>
      <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
        Today
      </div>
      <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()">
        Next
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div class="btn btn-primary" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
        Month
      </div>
      <div class="btn btn-primary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
        Week
      </div>
      <div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
        Day
      </div>
    </div>
  </div>
</div>
<br />
<div [ngSwitch]="view">
  <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
    [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
    [hourDuration]="45" [hourSegments]="2" [dayStartHour]="7" [dayEndHour]="24"
    (eventClicked)="handleEvent('Clicked', $event.event)">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
    [dayStartHour]="7" [dayEndHour]="24" (eventClicked)="handleEvent('Clicked', $event.event)">
  </mwl-calendar-day-view>
</div>

<c-modal id="liveDemoModal" [visible]="visible" *ngIf="modalData" (visibleChange)="handleLiveDemoChange($event)">
  <c-modal-header>
    <h5 cModalTitle>Catch Lesson Data</h5>
    <button (click)="toggleLiveDemo()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <b>Lesson Title:</b> {{ modalData.lesson.title }} <br />
    <b>Lesson Description: </b> {{ modalData.lesson.description }} <br />
    <b> Lesson Level:</b> {{ modalData.lesson.level }} <br />
    <b>Lesson Price:</b> {{ modalData.lesson.price }} <br />
    <b> Lesson Date:</b> {{ modalData.dateFrom | date:'dd/MM/yyyy hh:mm' }} <br />
    <b>Lesson Duration:</b> {{ modalData.lesson.durationHour }} Minutes<br />
    <b>Lesson Teacher:</b> {{ modalData.teacher.user?.firstName }} {{ modalData.teacher.user?.lastName }}<br />

  </c-modal-body>
  <c-modal-footer>
    <button cButton (click)="toggleLiveDemo(true)" color="primary">Ok</button>
  </c-modal-footer>
</c-modal>
