<div class="content-page">
  <div class="content">
    <div class="row">
      <div class="col-xl-12">
        <div class="card">
          <div class="card-body py-3">
            <h4 class="page-title"> <svg cIcon name="cil-command" title="cil-command"
                size="3lg"></svg>Holidays
              <button class="btn btn-outline-primary btn-rounded alignToTitle" (click)="addNew()"><svg cIcon
                  name="cil-plus" title="cil-plus" size="1lg"></svg>Add new holiday</button>
            </h4>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-12">
        <div class="card">
          <div class="card-body">
            <h4 class="mb-3 header-title">Holidays</h4>
            <div class="table-responsive-sm mt-4">
              <table id="basic-datatable" class="table table-striped table-centered mb-0">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>
                      Title
                    </th>
                    <th>
                      From Date
                    </th>
                    <th>
                      To Date
                    </th>
                    <th>
                      All Day
                    </th>
                    <th>
                      Is Active
                    </th>
                    <td>Action</td>
                  </tr>
                </thead>
                <tbody *ngIf="holidays&&holidays.length>0">
                  <tr *ngFor="let item of holidays">
                    <td>{{item.id}}</td>
                    <td>{{item.title}}</td>
                    <td>{{item.date|date:'dd/MM/yyyy hh:mm'}}</td>
                    <td>{{item.toDate|date:'dd/MM/yyyy hh:mm'}}</td>
                    <td>{{item.allDay}}</td>
                    <td>{{item.isActive}}</td>
                    <td>
                      <a href="javascript:void(1)" style="margin-right: 10px;color: green;"  (click)="edit(item.id)"><svg cIcon name="cil-pencil" title="cil-pencil" size="1lg"></svg></a>
                      <a href="javascript:void(1)" (click)="delete(item.id)" style="color: red;"><svg cIcon name="cil-x-circle" title="cil-x-circle" size="1lg"></svg></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div> <!-- end card body-->
        </div> <!-- end card -->
      </div>
    </div>
  </div>
</div>
