<div class="content-page">
  <div class="content">
    <div class="row">
      <div class="col-xl-12">
        <div class="card">
          <div class="card-body py-2">
            <h4 class="page-title"> <svg cIcon name="cil-applications" title="cil-applications" size="3lg"></svg>Lessons
              <button class="btn btn-outline-primary btn-rounded alignToTitle" (click)="addNew()"><svg cIcon name="cil-plus" title="cil-plus" size="1lg"></svg>Add new lesson</button>
            </h4>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-12">
        <div class="card">
          <div class="card-body">
            <h4 class="mb-3 header-title">Lessons</h4>
            <div class="table-responsive-sm mt-4">

            </div>
          </div> <!-- end card body-->
        </div> <!-- end card -->
      </div>
    </div>
  </div>
</div>
