<div class="content-page">
  <div class="content">
    <div class="row">
      <div class="col-xl-12">
        <div class="card">
          <div class="card-body py-3">
            <h4 class="page-title"> <svg cIcon name="cil-command" title="cil-command" size="3lg"></svg>Catch Lessons
            </h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="card">
          <div class="card-body">
            <h4 class="mb-3 header-title">Catch Lessons</h4>
            <div class="table-responsive-sm mt-4">
              <table id="basic-datatable" class="table table-striped table-centered mb-0">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>
                      Lesson
                    </th>
                    <th>
                      Date
                    </th>
                    <th>
                      Duretion
                    </th>
                    <th>
                      Price
                    </th>
                    <th>
                      Teacher
                    </th>
                    <th>
                      Is Over
                    </th>
                    <td>Action</td>
                  </tr>
                </thead>
                <tbody *ngIf="catchLessons&&catchLessons.length>0">
                  <tr *ngFor="let item of catchLessons">
                    <td>{{item.id}}</td>
                    <td>{{item.lesson.title}}</td>
                    <td>{{item.dateFrom |date:'dd/MM/yyyy HH:mm '}}</td>
                    <td>{{item.lesson.durationHour}}</td>
                    <td>{{item.lesson.price}}</td>
                    <td>{{item.teacher.user?.firstName}} {{item.teacher.user?.lastName}}</td>
                    <td>{{item.dateFrom < now?'v':"x"}}</td>
                    <td>
                      <a href="javascript:void(1)" cTooltip="Send Message" cTooltipPlacement="top"
                        style="margin-right: 10px;color: green;" (click)="toggleLiveDemo(item.id)"><svg cIcon
                          name="cil-paper-plane" title="cil-paper-plane" size="1lg"></svg></a>
                      <a href="javascript:void(1)" *ngIf="item.dateFrom>dayBefore" (click)="delete(item.id)"
                        cTooltip="Delete" cTooltipPlacement="top" style="color: red;"><svg cIcon name="cil-x-circle"
                          title="cil-x-circle" size="1lg"></svg></a>
                      <a href="javascript:void(1)" *ngIf="item.dateFrom<now &&item.remarks.length==0"
                        (click)="toggleLiveDemoRemark(item.id)" cTooltip="Remark" cTooltipPlacement="top"
                        style="color: orange;"><svg cIcon name="cil-comment-bubble" title="cil-x-circle"
                          size="1lg"></svg></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div> <!-- end card body-->
        </div> <!-- end card -->
      </div>
    </div>
  </div>
</div>


<c-modal id="liveDemoModal" [visible]="visible">
  <c-modal-header>
    <h5 cModalTitle>Send Message</h5>
    <button (click)="closeModalSend()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <form>
      <textarea [(ngModel)]="messageSend.message" name="messa" class="form-control" rows="5"
        placeholder="Message"></textarea>
    </form>
  </c-modal-body>
  <c-modal-footer>
    <button cButton color="primary" (click)="sendMessage()">Send</button>
  </c-modal-footer>
</c-modal>


<c-modal id="liveDemoModalRemark" [visible]="visibleRemark">
  <c-modal-header>
    <h5 cModalTitle>Remark</h5>
    <button (click)="closeModalRemarkSend()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <form>
      <div class="form-group">
        <label for="topic">
          Remark <span class="required">*</span>
        </label>
        <input type="text" name="title" id="title" class="form-control" placeholder="remark" [(ngModel)]="remark.title"
          required>
      </div>
      <div class="form-group">
        <label for="topic">
          Stars <span class="required">*</span>
        </label>
        <ul class="list-inline rating-list" *ngFor="let star of stars" style="display: inline-block">
          <li (click)="countStar(star)" [ngClass]="{'selected': (star <= remark.stars)}">
            <i class="fa fa-star"></i>
          </li>
        </ul>
      </div>
    </form>
  </c-modal-body>
  <c-modal-footer>
    <button cButton color="primary" (click)="sendRemark()">Send</button>
  </c-modal-footer>
</c-modal>
