<div class="content-page">
  <div class="content">
    <div class="row">
      <div class="col-xl-12">
        <div class="card">
          <div class="card-body py-2">
            <h4 class="page-title"> <svg cIcon name="cil-command" title="cil-command" size="3lg"></svg>Lesson
            </h4>
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="lesson">
      <div class=" col-xl-6">
        <div class="card">
          <div class="card-body">
            <h4 class="mb-3 header-title">Lesson</h4>
            <form class="required-form">
              <div id="schedule">
                <div class="row">
                  <div class="col-md-12">
                    <div class="card">
                      <div class="card-body">
                        <div class="col-lg-12">
                          <div class="form-group">
                            <label for="topic">
                              Title <span class="required">*</span>
                            </label>
                            <input type="text" name="title" id="title" class="form-control" placeholder="title"
                              [(ngModel)]="lesson.title" required>
                          </div>

                          <div class="form-group">
                            <label for="topic">
                              Description <span class="required">*</span>
                            </label>
                            <textarea name="desc" id="desc" class="form-control" placeholder="description"
                              [(ngModel)]="lesson.description" required></textarea>
                          </div>

                          <div class="form-group">
                            <label for="topic">
                              Level <span class="required">*</span>
                            </label>
                            <select [(ngModel)]="lesson.level" class="form-select custom-select" name="level"
                              id="subjectId" placeholder="level">
                              <option value="1">Beginner</option>
                              <option value="5">Advanced</option>
                              <option value="9">Intermediate</option>
                            </select>
                          </div>

                          <div class="form-group">
                            <label for="topic">
                              Price <span class="required">*</span>
                            </label>
                            <input type="number" name="price" id="price" class="form-control" placeholder="price"
                              [(ngModel)]="lesson.price" required>
                          </div>

                          <!-- <div class="form-group">
                            <label for="topic">
                              Picture <span class="required">*</span>
                            </label>
                            <input (change)="fileChange($event)" type="file" class="custom-file-input"
                              id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                          </div> -->

                          <div class="form-group">
                            <label for="topic">
                              Duration (minutes) <span class="required">*</span>
                            </label>
                            <input type="number" name="durationHour" step="1" id="durationHour" min="0" max="4"
                              [(ngModel)]="lesson.durationHour" class="form-control" placeholder="duration (minutes)"
                              required>
                          </div>

                          <div class="form-group">
                            <label for="topic">
                              Subject <span class="required">*</span>
                              <a style="margin-left: 20px; color: #727cf5;" href="javascrit:void(1)"
                                (click)="openSubject()">Add Subject</a>
                            </label>
                            <select [(ngModel)]="lesson.subjectId" class="form-select custom-select" name="subjectId"
                              id="subjectId" placeholder="subject" (change)="chooseSubject()">
                              <option *ngFor="let item of subjectList" [value]="item.id">
                                {{item.name}}</option>
                            </select>
                          </div>

                          <div class="form-group">
                            <label for="topic">
                              Specialty
                              <a style="margin-left: 20px; color: #727cf5;" href="javascrit:void(1)"
                                (click)="openvisibleSpeciality()">Add Specialty</a>
                            </label>
                            <select [(ngModel)]="lesson.specialtyId" class="form-select custom-select"
                              name="specialtyId" id="specialtyId" placeholder="specialty">
                              <option value=0>Without</option>
                              <option *ngFor="let item of specialtyList" [value]="item.id">{{item.name}}</option>
                            </select>
                          </div>

                          <!-- <div class="form-group">
                            <label for="topic">
                              Series
                            </label>
                            <select [(ngModel)]="lesson.seriesId" class="form-select custom-select" name="specialtyId"
                              id="specialtyId" placeholder="specialty">
                              <option value=0>Without</option>
                              <option *ngFor="let item of seriesList" [value]="item.id">{{item.name}}</option>
                            </select>
                          </div> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button type="submit" (click)="submit()" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Save Lesson</button>
            </form>
          </div> <!-- end card body-->
        </div> <!-- end card -->
      </div>
    </div>
  </div>
</div>


<c-modal id="liveDemoModal" [visible]="visibleSubject">
  <c-modal-header>
    <h5 cModalTitle>Add Subject</h5>
    <button (click)="clooseSubject()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <form>
      <input [(ngModel)]="newSubject.name" name="nameSubject" class="form-control" placeholder="Name" />
    </form>
  </c-modal-body>

  <c-modal-footer>
    <button cButton (click)="addSubject()" color="primary">Ok</button>
  </c-modal-footer>
</c-modal>


<c-modal id="liveDemoModal33" [visible]="visibleSpeciality">
  <c-modal-header>
    <h5 cModalTitle>Add Speciality</h5>
    <button (click)="cloosevisibleSpeciality()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <form>
      <div class="form-group">
        <label for="topic">
          Name <span class="required">*</span>
        </label>
        <input [(ngModel)]="newSpeciality.name" name="newSpeciality" class="form-control" placeholder="Name" required />
      </div>
      <div class="form-group">
        <label for="topic">
          Subject <span class="required">*</span>
        </label>
        <select [(ngModel)]="newSpeciality.subjectId" class="form-select custom-select" name="subjectId" id="subjectId"
          placeholder="subject" >
          <option *ngFor="let item of subjectList" [value]="item.id">
            {{item.name}}</option>
        </select>
      </div>
    </form>
  </c-modal-body>

  <c-modal-footer>
    <button cButton (click)="addSpeciality()" color="primary">Ok</button>
  </c-modal-footer>
</c-modal>
