<div class="content-page">
  <div class="content">
    <div class="row">
      <div class="col-xl-12">
        <div class="card">
          <div class="card-body py-2">
            <h4 class="page-title"> <svg cIcon name="cil-command" title="cil-command" size="3lg"></svg>Lesson
            </h4>
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="lesson">
      <div class=" col-xl-6">
        <div class="card">
          <div class="card-body">
            <h4 class="mb-3 header-title">Lesson</h4>
            <form class="required-form">
              <div id="schedule">
                <div class="row">
                  <div class="col-md-12">
                    <div class="card">
                      <div class="card-body">
                        <div class="col-lg-12">
                          <div class="form-group">
                            <label for="topic">
                              Title <span class="required">*</span>
                            </label>
                            <input type="text" name="title" id="title" class="form-control" placeholder="title"
                              [(ngModel)]="lesson.title" required>
                          </div>

                          <div class="form-group">
                            <label for="topic">
                              Level <span class="required">*</span>
                            </label>
                            <input type="number" name="level" id="level" class="form-control" placeholder="level"
                              [(ngModel)]="lesson.level" required>
                          </div>

                          <div class="form-group">
                            <label for="topic">
                              Duration Hour <span class="required">*</span>
                            </label>
                            <input type="number" name="durationHour" step="0.1" id="durationHour"
                              [(ngModel)]="lesson.durationHour" class="form-control" placeholder="duration Hour"
                              required>
                          </div>

                          <div class="form-group">
                            <label for="topic">
                              Subject <span class="required">*</span>
                            </label>
                            <select [(ngModel)]="lesson.subjectId" class="form-select custom-select" name="subjectId"
                              id="subjectId" placeholder="subject" (change)="chooseSubject()">
                              <option *ngFor="let item of subjectList" [value]="item.id">
                                {{item.name}}</option>
                            </select>
                          </div>

                          <div class="form-group">
                            <label for="topic">
                              Specialty
                            </label>
                            <select [(ngModel)]="lesson.specialtyId" class="form-select custom-select"
                              name="specialtyId" id="specialtyId" placeholder="specialty" (change)="chooseSpeciality()">
                              <option value=0>Without</option>
                              <option *ngFor="let item of specialtyList" [value]="item.id">{{item.name}}</option>
                            </select>
                          </div>

                          <div class="form-group">
                            <label for="topic">
                              Series
                            </label>
                            <select [(ngModel)]="lesson.seriesId" class="form-select custom-select" name="specialtyId"
                              id="specialtyId" placeholder="specialty">
                              <option value=0>Without</option>
                              <option *ngFor="let item of seriesList" [value]="item.id">{{item.name}}</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button type="submit" (click)="submit()" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Save Lesson</button>
            </form>
          </div> <!-- end card body-->
        </div> <!-- end card -->
      </div>
    </div>
  </div>
</div>
